@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: radial-gradient(circle, #2c94c8 50%, #ffffff);
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  margin: 0;
  padding: 0;
  color: #141415;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}

h1 {
  font-size: 4.375em; /* 70px */
  color: #cd9c15;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  text-align: center;
}


h2 {
  font-size: 1.5625em; /* 25px */
}

#festival-dates {
  font-size: 3.125em; /* 50px */
}

#intro {
  max-width: 45vw;
  background-image: radial-gradient(circle, #eeedac 20%, transparent 100%);
  padding: 3em;
}


p {
  text-wrap: balance;
  line-height: 1.5;
  padding: 0.5em;
}

p,
a,
li {
  font-family: "Chivo", sans-serif;
}

nav > ul {
  list-style-type: none;
}

nav {
  border-bottom: 2px solid black;
  margin: 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 3.125em; /* 50px */
}

nav > ul > li {
  padding: 0 1.25em; /* 20px */
}

nav > ul > li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #141415;
}

nav > ul > li > a:hover {
  color: rgb(255, 255, 255);
}

a {
  text-transform: uppercase;
  color: #141415;
}

a:hover {
  cursor: pointer;
  color: rgb(208, 106, 106);
}

main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
}

main > ul {
  list-style-image: url(../assets/es-bullet.png);
}

main > ul > li {
  margin-bottom: 0.625em; /* 10px */
}

.accordian-head {
  background-image: radial-gradient(circle, #eeedac 5%, transparent 100%);
}

.event {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 45vw;
  padding: 1.5625em; /* 25px */
  margin: 0.9375em; /* 15px */
  border: 2px solid black;
}

.event-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.625em; /* 10px */
}

.event-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.event-image > img {
  width: 12.5em; /* 200px */
  height: 12.5em; /* 200px */
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 6.25em; /* 100px */
  margin: 0.3125em; /* 5px */
}

footer {
  padding: 1em;
}

footer img {
  max-height: 5em; /* 80px */
  margin: 0.625em; /* 10px */
}

@media (max-width: 1381px) {
  .lrg-sceen-only {
    display: none;
  }

  #festival-dates {
    font-size: 2.5em; /* 40px */
  }

  #intro,
  .event {
    max-width: 60vw;
  }
}

@media (max-width: 985px) {
  #main-title {
    font-size: 3.75em; /* 60px */
  }

  #intro,
  .event {
    max-width: 80vw;
  }

  footer img {
    max-height: 3.75em; /* 60px */
  }
}

@media (max-width: 851px) {
  #main-title {
    font-size: 3.125em; /* 50px */
  }

  #festival-dates {
    font-size: 1.875em; /* 30px */
  }

  #intro,
  .event {
    max-width: 80vw;
  }

  .event-row {
    flex-direction: column;
  }
}

.free-event {
  display: inline-block;
  font-weight: bold;
  background-color: rgb(208, 106, 106);
  font-size: larger;
}

/* venues page styles */
.venue-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em 0.5em 1.25em; /* 20px */
}

.venue-section > iframe {
  justify-content: center;
  width: 50em; /* 800px */
  height: 31.25em; /* 500px */
}

.venue-section > p {
  margin: 0.5em; /* 8px */
}

@media (max-width: 845px) {
  .venue-section > iframe {
    width: 37.5em; /* 600px */
    height: 25em; /* 400px */
  }
}

@media (max-width: 641px) {
  .venue-section > iframe {
    width: 31.25em; /* 500px */
    height: 21.875em; /* 350px */
  }
}

@media (max-width: 521px) {
  .venue-section > p {
    max-width: 80vw;
  }
  .venue-section > iframe {
    width: 25em; /* 400px */
    height: 18.75em; /* 300px */
  }
}

@media (max-width: 490px) {
  .venue-section {
    max-width: 90vw;
  }
  .venue-section > iframe {
    width: 80vw;
    height: 60vw;
  }
}


@media (max-width: 453px){
  footer img {
    max-height: 30px; 
  }
}

